.profile__info {
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  grid-template-columns: minmax(100px, max-content) 24px;
  column-gap: 18px;
  row-gap: 8px;
  flex-basis: calc(100% - 180px);
}

@media (max-width: 950px) {
  .profile__info {
    column-gap: 0;
    row-gap: 7px;
    padding: 0;
    padding-top: 26px;
    margin: 0;
    grid-auto-flow: column;
    grid-auto-columns: 0px;
    max-width: 70vw;
  }
}
