.profile {
  padding: 40px 0 0;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media (max-width: 950px) {
  .profile {
    flex-direction: column;
    padding: 42px 0 0;
    max-width: 282px;
    justify-content: center;
  }
}