.profile__avatar {
  width: 120px;
  height: 120px;
  margin: 0;
  cursor: pointer;
  position: relative;
  border-radius: 60px;
}

.profile__avatar:hover::before {
  background: rgba(0, 0, 0, .8) url("../../../images/edit_button.svg") no-repeat center;
  background-size: 26px 26px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}